.btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.25rem;
}

.amountBtn {
  border: none;
  background-color: #007f73;
  color: #fff;
  padding: 0.1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amountBtn:hover {
  background-color: #33998f;
}

.addToCart {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #1c19c7;
  color: #fff;
}

.addToCart:hover {
  background-color: #403dc9;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.deleteBtn {
  composes: addToCart;
  background-color: #a71e1e;
}

.deleteBtn:hover {
  background-color: #ac6767;
}

.buyProductsBtn {
  composes: addToCart;
}
