.filterWrapper {
  background-color: #b3d9d5;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.priceRange {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
